<h1>Listing seab_topics</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Description</th>
      <th>Subject</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seab_topics.each do |seab_topic| %>
      <tr>
        <td><%= seab_topic.topic %></td>
        <td><%= seab_topic.description %></td>
        <td><%= seab_topic.subject_id %></td>
        <td><%= link_to 'Show', seab_topic %></td>
        <td><%= link_to 'Edit', edit_seab_topic_path(seab_topic) %></td>
        <td><%= link_to 'Destroy', seab_topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seab topic', new_seab_topic_path %>
