<section class="generic">
    <aside>
      <iframe id="player" seamless src="{{unbound videourl}}" width="100%" height="400px" frameborder="0"></iframe>
    </aside>
    <article>
      <h1>{{unbound checkpoint}} <small><a href="{{unbound youtube_url}}">(Video Link)</a></small></h1> 
      <small>{{unbound description}}</small>
      <strong>Your Objective:</strong><br>
      <small>{{unbound objective}}</small>
    </article>
</section>
