{{#if currentUser.isSignedIn}}
{{currentUser.email}}
<button {{action "logout"}}>Log Out</button>
{{else}}

{{view Ember.TextField valueBinding="email" placeholder="email"}}
{{view Ember.TextField valueBinding="password" placeholder="password"}}
<button {{action "login"}}>Log In</button>
{{/if}}