<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @seab_sub_topic.topic %>
</p>

<p>
  <strong>Seab topic:</strong>
  <%= @seab_sub_topic.seab_topic_id %>
</p>

<%= link_to 'Edit', edit_seab_sub_topic_path(@seab_sub_topic) %> |
<%= link_to 'Back', seab_sub_topics_path %>
